[Unit]
Description=MdBlog: karpour.net
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/var/www/mdblog/mdblog
#ExecStopPost=

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target